@import url("https://fonts.googleapis.com/css2?family=Roboto");


body{
    align-items:center;
    width:100%;
    font-family:"Roboto";
    margin: 0 auto;
    height:100%;
    
   
}

.bg-login {
    background-color:blueviolet;

}


.bg-button {
    background-color:blueviolet;
    
}